
# Source:

https://www.youtube.com/watch?v=J6BSx-gNw7E&t=130s

In [12]:
# Dependencies
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

from passwords import db_params

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Check Java Version
!java -version

java version "21.0.2" 2024-01-16 LTS
Java(TM) SE Runtime Environment (build 21.0.2+13-LTS-58)
Java HotSpot(TM) 64-Bit Server VM (build 21.0.2+13-LTS-58, mixed mode, sharing)

In [3]:
# Spark config
spark = SparkSession.builder\
    .config('spark.app.name', 'ecommerce_etlpipeline')\
    .config('spark.jars', '../Resources/postgresql-42.7.1.jar')\
    .getOrCreate()

24/02/06 13:32:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
# Read in data locally
# df = spark.read\
#     .option('header', True)\
#     .option('inferSchema', True)\
#     .csv("../Resources/raw/ecommerce_customer_data_custom_ratios.csv")

# Define DB params
database_url = "jdbc:postgresql://localhost:5432/ecommerceDB"
properties = {
    "user": db_params['user'],
    "password": db_params['password'],
    "driver": "org.postgresql.Driver"
}

# Read in data via Java database connectivity 
df = spark.read.jdbc(url=database_url, table="customer_data", properties=properties)

In [5]:
# Create tempview for querying
df.createOrReplaceTempView('customer_data')

In [6]:
# Display table
df.show()

+-----------+-------------+----------------+-------------+--------+----------------------+--------------+------------+--------------------+-------------------+---+------+-----+
|customer_id|purchase_date|product_category|product_price|quantity|total_purchased_amount|payment_method|customer_age|            returned|      customer_name|age|gender|churn|
+-----------+-------------+----------------+-------------+--------+----------------------+--------------+------------+--------------------+-------------------+---+------+-----+
|      46251|   2020-09-08|     Electronics|           12|       3|                   740|   Credit Card|          37|0.000000000000000000|Christine Hernandez| 37|  Male|    0|
|      46251|   2022-03-05|            Home|          468|       4|                  2739|        PayPal|          37|0.000000000000000000|Christine Hernandez| 37|  Male|    0|
|      46251|   2022-05-23|            Home|          288|       2|                  3196|        PayPal|          37|0.000000000000000000|Christine Hernandez| 37|  Male|    0|
|      46251|   2020-11-12|        Clothing|          196|       1|                  3509|        PayPal|          37|0.000000000000000000|Christine Hernandez| 37|  Male|    0|
|      13593|   2020-11-27|            Home|          449|       1|                  3452|   Credit Card|          49|0.000000000000000000|        James Grant| 49|Female|    1|
|      13593|   2023-03-07|            Home|          250|       4|                   575|        PayPal|          49|1.000000000000000000|        James Grant| 49|Female|    1|
|      13593|   2023-04-15|     Electronics|           73|       1|                  1896|   Credit Card|          49|0.000000000000000000|        James Grant| 49|Female|    1|
|      13593|   2021-03-27|           Books|          337|       2|                  2937|          Cash|          49|0.000000000000000000|        James Grant| 49|Female|    1|
|      13593|   2020-05-05|        Clothing|          182|       2|                  3363|        PayPal|          49|1.000000000000000000|        James Grant| 49|Female|    1|
|      28805|   2023-09-13|     Electronics|          394|       2|                  1993|   Credit Card|          19|0.000000000000000000|       Jose Collier| 19|  Male|    0|
|      28805|   2021-03-31|        Clothing|          366|       1|                   246|        PayPal|          19|0.000000000000000000|       Jose Collier| 19|  Male|    0|
|      28805|   2021-01-18|           Books|          348|       1|                  2682|   Credit Card|          19|1.000000000000000000|       Jose Collier| 19|  Male|    0|
|      28805|   2020-01-07|           Books|          103|       4|                   731|          Cash|          19|0.000000000000000000|       Jose Collier| 19|  Male|    0|
|      28805|   2021-02-12|           Books|          240|       1|                  2563|        PayPal|          19|0.000000000000000000|       Jose Collier| 19|  Male|    0|
|      28805|   2020-07-02|        Clothing|          368|       1|                  1342|   Credit Card|          19|                NULL|       Jose Collier| 19|  Male|    0|
|      28961|   2021-04-25|           Books|           30|       1|                  4135|        PayPal|          55|                NULL|        James Stein| 55|  Male|    0|
|      28961|   2020-01-13|           Books|          153|       5|                   698|   Credit Card|          55|0.000000000000000000|        James Stein| 55|  Male|    0|
|      28961|   2023-06-18|        Clothing|          259|       1|                  2975|   Credit Card|          55|0.000000000000000000|        James Stein| 55|  Male|    0|
|      28961|   2021-09-10|           Books|          489|       3|                  2213|   Credit Card|          55|1.000000000000000000|        James Stein| 55|  Male|    0|
|      28961|   2023-06-01|           Books|          232|       3|                  4452|        PayPal|          55|1.000000000000000000|        James Stein| 55|  Male|    0|
+-----------+-------------+----------------+-------------+--------+----------------------+--------------+------------+--------------------+-------------------+---+------+-----+

In [7]:
# Data Munging
try:
    customer_profile = spark.sql("""
        SELECT 
            customer_id, 
            customer_name,
            customer_age,
            gender,
            count(*) as order_count,
            sum(returned) as orders_returned,
            sum(churn) as total_churn,
            datediff(max(purchase_date), min(purchase_date)) as tenure_days,
            avg(product_price) as average_total_per_cart,
            sum(quantity) as total_qty_purchased,
            sum(total_purchased_amount) as total_spent_historic
        FROM 
            customer_data
        GROUP BY 
            customer_id, customer_name, customer_age, age, gender
        """)
    customer_shopping_profile = spark.sql("""
        SELECT 
            customer_id, 
            sum(CASE WHEN payment_method = 'Credit Card' THEN 1 ELSE 0 END) as payment_creditcard,
            sum(CASE WHEN payment_method = 'Debit' THEN 1 ELSE 0 END) as payment_debit,
            sum(CASE WHEN payment_method = 'Crypto' THEN 1 ELSE 0 END) as payment_crypto,
            sum(CASE WHEN payment_method = 'Paypal' THEN 1 ELSE 0 END) as payment_paypal,
            sum(CASE WHEN payment_method = 'Cash' THEN 1 ELSE 0 END) as payment_cash,
            sum(CASE WHEN product_category = 'Electronics' THEN 1 ELSE 0 END) as cat_electronics,
            sum(CASE WHEN product_category = 'Home' THEN 1 ELSE 0 END) as cat_home,
            sum(CASE WHEN product_category = 'Clothing' THEN 1 ELSE 0 END) as cat_clothing,
            sum(CASE WHEN product_category = 'Books' THEN 1 ELSE 0 END) as cat_books
        FROM 
            customer_data
        GROUP BY 
            customer_id, customer_name, customer_age, age, gender
        """)
    print('Data transformed successfully!')
except Exception as err:
    print('Error Encountered during transformation:' + str(err))

Data transformed successfully!

In [8]:
customer_profile.show()

+-----------+-----------------+------------+------+-----------+--------------------+-----------+-----------+----------------------+-------------------+--------------------+
|customer_id|    customer_name|customer_age|gender|order_count|     orders_returned|total_churn|tenure_days|average_total_per_cart|total_qty_purchased|total_spent_historic|
+-----------+-----------------+------------+------+-----------+--------------------+-----------+-----------+----------------------+-------------------+--------------------+
|      48644|     Marcus Eaton|          69|Female|          4|1.000000000000000000|          0|       1025|                 130.0|                  6|               15548|
|       5847|      Lauren Wood|          70|  Male|          3|1.000000000000000000|          3|       1146|     316.3333333333333|                  9|                3164|
|      31097|        Anne Frye|          25|  Male|          3|2.000000000000000000|          0|        622|    201.66666666666666|                 10|               11298|
|      18817|        Kelly Kim|          62|Female|          6|2.000000000000000000|          0|        785|    184.83333333333334|                 17|               19694|
|       6814|         Jody Liu|          51|  Male|          3|2.000000000000000000|          0|        841|    208.33333333333334|                 11|               11140|
|       8430|  Kimberly Bailey|          21|Female|          8|2.000000000000000000|          0|       1000|               183.125|                 20|               20697|
|      49874|      Thomas Webb|          53|  Male|         10|5.000000000000000000|          0|       1295|                 207.9|                 28|               25652|
|      43665|Brian Blankenship|          29|Female|          8|5.000000000000000000|          0|       1243|                278.75|                 18|               17353|
|      47548| Frederick Campos|          37|Female|          3|1.000000000000000000|          0|        509|    229.33333333333334|                 11|                8542|
|      15912|  Alexandra Smith|          65|  Male|          5|4.000000000000000000|          0|       1252|                 243.4|                 22|               14033|
|      26423|  Daniel Mcdaniel|          54|Female|          6|2.000000000000000000|          0|       1205|    147.33333333333334|                 18|               26381|
|       8770|   Jennifer Mckay|          69|  Male|          8|3.000000000000000000|          0|       1185|               276.375|                 26|               27517|
|      47803|    Sandra Miller|          37|Female|          4|1.000000000000000000|          0|       1111|                 286.5|                 12|               13165|
|      34763|   Shannon Cannon|          32|  Male|          6|2.000000000000000000|          6|       1167|     279.1666666666667|                 25|               25831|
|      31765|      Craig Novak|          54|Female|         11|5.000000000000000000|          0|       1281|     286.3636363636364|                 31|               30023|
|      45740|   Meghan Johnson|          58|Female|          5|3.000000000000000000|          0|       1047|                 203.8|                 10|               15766|
|      45336|   Heather Fuller|          59|Female|          6|4.000000000000000000|          0|       1271|                 289.0|                 12|               19113|
|      25378|  Katherine Smith|          51|Female|          4|0.000000000000000000|          0|       1139|                 260.5|                 10|               11954|
|      37288| Howard Alexander|          32|  Male|          4|1.000000000000000000|          0|        747|                185.25|                 11|               13182|
|      19659| Audrey Rodriguez|          67|  Male|          7|4.000000000000000000|          0|        661|    151.14285714285714|                 22|               26048|
+-----------+-----------------+------------+------+-----------+--------------------+-----------+-----------+----------------------+-------------------+--------------------+

In [9]:
customer_shopping_profile.show()

+-----------+------------------+-------------+--------------+--------------+------------+---------------+--------+------------+---------+
|customer_id|payment_creditcard|payment_debit|payment_crypto|payment_paypal|payment_cash|cat_electronics|cat_home|cat_clothing|cat_books|
+-----------+------------------+-------------+--------------+--------------+------------+---------------+--------+------------+---------+
|      48644|                 1|            0|             0|             0|           1|              1|       1|           2|        0|
|       5847|                 1|            0|             0|             0|           2|              1|       2|           0|        0|
|      31097|                 1|            0|             0|             0|           1|              0|       1|           1|        1|
|      18817|                 1|            0|             0|             0|           2|              1|       2|           2|        1|
|       6814|                 3|            0|             0|             0|           0|              1|       0|           1|        1|
|       8430|                 2|            0|             1|             0|           1|              3|       2|           2|        1|
|      49874|                 0|            0|             1|             0|           3|              2|       1|           4|        3|
|      43665|                 5|            0|             0|             0|           1|              1|       2|           1|        4|
|      47548|                 1|            0|             1|             0|           0|              2|       1|           0|        0|
|      15912|                 2|            0|             1|             0|           1|              2|       0|           2|        1|
|      26423|                 3|            0|             0|             0|           2|              0|       1|           2|        3|
|       8770|                 4|            0|             0|             0|           2|              1|       2|           1|        4|
|      47803|                 3|            0|             1|             0|           0|              0|       2|           1|        1|
|      34763|                 1|            0|             0|             0|           0|              2|       1|           1|        2|
|      31765|                 3|            0|             2|             0|           3|              5|       1|           2|        3|
|      45740|                 4|            0|             0|             0|           0|              0|       2|           1|        2|
|      45336|                 2|            0|             0|             0|           0|              1|       1|           2|        2|
|      25378|                 0|            0|             1|             0|           2|              1|       2|           1|        0|
|      37288|                 2|            0|             0|             0|           1|              0|       1|           1|        2|
|      19659|                 1|            0|             2|             0|           0|              4|       0|           2|        1|
+-----------+------------------+-------------+--------------+--------------+------------+---------------+--------+------------+---------+

In [10]:
# Load data
try:
    customer_profile.write\
        .option('mode', 'overwrite') \
        .option('user', properties['user']) \
        .option('password', properties['password']) \
        .option('driver', properties['driver']) \
        .jdbc(table= 'customer_profile',
              url=database_url)
    print('Customer Profile Data loaded successfully!')
except Exception as err:
    print('Error Encountered during transformation:' + str(err))


try:
    customer_shopping_profile.write \
        .option('mode', 'overwrite') \
        .option('user', properties['user']) \
        .option('password', properties['password']) \
        .option('driver', properties['driver']) \
        .jdbc(table= 'customer_shopping_profile',
              url=database_url)
    print('Customer Shopping Profile Data loaded successfully!')
except Exception as err:
    print('Error Encountered during transformation:' + str(err))

Customer Profile Data loaded successfully!
Customer Shopping Profile Data loaded successfully!

In [11]:
spark.stop()